@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap");

.Desktop---17 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  flex-grow: 0;
  background-color: #fff;
}

.anchor-btn {
  color: white;
  text-decoration: none;
}

.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.Rectangle-17 {
  width: 390px;
  height: 844px;
  padding: 0 1px 1px 0;
  opacity: 0.5;
  background-color: #636363;
}

.Rectangle-18 {
  width: 350px;
  height: 627px;
  flex-grow: 0;
  margin: 0 4px 0 0;
  padding: 21px 0 23px;
  border-radius: 15px;
  background-color: #f4f4f4;
}

.mobile-logo {
  width: 348px;
  height: 368px;
  margin-top: 200px;
  align-self: center;
}

.header-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.logo {
  width: 348px;
  height: 368px;
  margin: 200px 25px 0 29px;
  align-self: center;
}

.landing-title {
  font-family: Mulish;
  font-size: 55px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #a7a7a7;
}

.Welcome {
  align-self: center;
  margin: 10px 50px 21px 34px;
  font-family: Mulish;
  font-size: 55px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #a7a7a7;
}

form {
  display: flex;
  flex-direction: column;
}

.desktop-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.Rectangle-5 {
  width: 343px;
  height: 30px;
  flex-grow: 0;
  margin: 3px 73px 12px 40px;
  padding: 17px 0px 17px 25px;
  border-radius: 16px;
  border: solid 0.5px #1f1f1f;
  background-color: #fff;
  font-family: Mulish;
  font-size: 16px;
}

label {
  font-family: Mulish;
}

#id_username {
  width: 343px !important;
  height: 30px;
  flex-grow: 0;
  margin: 3px 73px 12px 40px;
  padding: 17px 0px 17px 25px;
  border-radius: 16px;
  border: solid 0.5px #1f1f1f;
  background-color: #fff;
  font-family: Mulish;
  font-size: 16px;
}

.Rectangle-6 {
  width: 343px;
  height: 30px;
  flex-grow: 0;
  margin: 3px 73px 11px 40px;
  padding: 16px 0px 16px 25px;
  border-radius: 16px;
  border: solid 0.5px #1f1f1f;
  background-color: #fff;
  font-family: Mulish;
  font-size: 16px;
}

#id_password {
  width: 343px;
  height: 30px;
  flex-grow: 0;
  margin: 3px 73px 11px 40px;
  padding: 16px 0px 16px 25px;
  border-radius: 16px;
  border: solid 0.5px #1f1f1f;
  background-color: #fff;
  font-family: Mulish;
  font-size: 16px;
}

#id_password1 {
  width: 343px;
  height: 30px;
  flex-grow: 0;
  margin: 3px 73px 11px 40px;
  padding: 16px 0px 16px 25px;
  border-radius: 16px;
  border: solid 0.5px #1f1f1f;
  background-color: #fff;
  font-family: Mulish;
  font-size: 16px;
}

#id_password2 {
  width: 343px;
  height: 30px;
  flex-grow: 0;
  margin: 3px 73px 11px 40px;
  padding: 16px 0px 16px 25px;
  border-radius: 16px;
  border: solid 0.5px #1f1f1f;
  background-color: #fff;
  font-family: Mulish;
  font-size: 16px;
}

.helptext {
  display: none;
}

.Forgot-Password {
  float: right;
  height: 14px;
  margin: 11px 0px 18px 200px;
  font-family: Mulish;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #a7a7a7;
  text-decoration: underline;
}

.login-btn {
  width: 344px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 15px 69px 0 43px;
  padding: 17px 120px;
  border-radius: 16px;
  background-color: #4e4235;
  color: white;
  font-family: Mulish;
  font-size: 18px;
}

.landing-btn {
  margin-top: 50px;
  margin-bottom: 25px;
}

.login {
  background-color: #d9d9d9;
  border: solid 0.5px #d9d9d9;
  color: #4e4235;
  align-self: center;
}

.Rectangle-4 {
  width: 350px;
  height: 5px;
  margin: 50px 66px 128px 40px;
  border-radius: 10px;
  background-color: #d9d9d9;
  font-family: Mulish;
}

.search-header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search-logo {
  width: 75px;
  height: 90px;
  align-self: center;
  margin-top: 20px;
  margin-right: 15px;
}

.search-input {
  width: 503px;
  height: 30px;
  flex-grow: 0;
  padding: 12px 100px 12px 25px;
  border-radius: 16px;
  border: solid 0.5px #909090;
  background-color: #fff;
  font-family: Mulish;
}

.search-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logout-btn {
  height: 40px;
  width: 100px;
  background-color: #4e4235;
  align-self: center;
  margin: 20px 0px 0px 5px;
  border-radius: 10px;
  font-size: 16px;
  font-family: Mulish;
}

.go-btn {
  height: 40px;
  width: 75px;
  background-color: #a4978a;
  margin: 5px 0px 0px 10px;
  border-radius: 10px;
  font-size: 16px;
  font-family: Mulish;
  color: white;
  cursor: pointer;
}

.Rectangle-17 {
  width: 390px;
  height: 844px;
  padding: 0 1px 1px 0;
  opacity: 0.5;
  background-color: #636363;
}

.Rectangle-18 {
  width: 350px;
  height: 627px;
  flex-grow: 0;
  margin: 0 4px 0 0;
  padding: 21px 0 23px;
  border-radius: 15px;
  background-color: #f4f4f4;
}

.body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 10px 0px;
  border: solid 0.3px #909090;
  border-radius: 16px;
  padding: 10px;
  width: 60%;
}

.index-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 30%;
}

.index-img {
  width: 70%;
  border-radius: 10px;
  margin: 5px;
}

.index-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 55%;
  font-family: Mulish;
  margin: 20px;
  color: #909090;
}

.index-info > img {
  width: 25%;
  margin: 5px 0px;
}

.index-title {
  font-size: 20px;
  color: #787878;
}

.yelp-logo {
  width: 75px;
}

.username-title {
  font-family: Mulish;
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #a7a7a7;
}

.recent-title {
  height: 32px;
  margin: 25px 0px 0px 0px;
  font-family: Mulish;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #a7a7a7;
  align-self: unset;
}

.divider {
  width: 350px;
  height: 3px;
  margin: 0px 0px 5px 13px;
  border-radius: 10px;
  background-color: #d9d9d9;
}

.favourites-title {
  margin-top: 15px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container1 {
  display: flex;
  flex-direction: row;
  margin: 10px;
  border: solid 0.3px #909090;
  border-radius: 16px;
  width: 60%;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#overlayMessage {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%, -50%);
}

.detail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: Mulish;
  color: #787878;
}

.detail-img-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin: 0;
}

.detail-imgs {
  width: 275px;
  height: 350px;
  margin: 25px 5px 0px 5px;
  border-radius: 16px;
}

.data-container {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 50%;
}

.detail-title {
  font-size: 32px;
  color: #787878;
  margin-bottom: 2px;
}

.rating-container > img {
  width: 20%;
  margin: 5px 0px;
}

.rating-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.reviews-num {
  margin-left: 10px;
}

.hours-container > h4 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
}

.hours-container > p {
  margin: 0px;
  font-size: 16px;
}

.review-container {
  font-family: Mulish;
  margin: 0px 10px;
  width: 55%;
}

.review-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px 15px;
  color: #787878;
  font-family: Mulish;
}

.review-btn {
  width: 124px;
  height: 48px;
  border-radius: 16px;
  background-color: #d9d9d9;
  font-family: Mulish;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.username-delete {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.delete-btn {
  text-decoration: none;
  font-size: 30px;
  color: #787878;
  cursor: pointer;
}

.detail-review-form {
  margin: 0px 15px;
  color: #787878;
}

.username-lbl {
  font-size: 18px;
  margin-top: 10px;
}

.review-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 0;
}

.review-body > h4 {
  margin-bottom: 5px;
  font-size: 17px;
}

.review-body-first-header {
  margin-top: 0;
}

.review-body-header {
  margin-top: 15px;
}

.inner-review-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.inner-review-body > p {
  margin: 5px 20px 5px 0px;
}

.comments-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cafe-title-favourite-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.favourite-btn {
  width: 150px;
  height: 48px;
  border-radius: 16px;
  background-color: #d9d9d9;
  font-family: Mulish;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* MOBILE QUERIES ONLY - ALL DESK TOP QUERIES ABOVE*/

@media only screen and (max-width: 450px) {
  .iPhone-13-13-Pro---29 {
    width: 390px;
    height: 20px;
    flex-grow: 0;
    padding: 0 0px 0px 0px;
    background-color: #fff;
  }

  .Desktop---17 {
    height: 50%;
  }

  .mobile-logo {
    width: 153px;
    height: 50%;
    margin-top: 50px;

    align-self: center;
  }

  .landing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 150px;
  }

  .landing-header {
    display: flex;
    flex-direction: column;
  }

  .header-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .landing-title {
    font-family: Mulish;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #a7a7a7;
  }

  .logo {
    width: 87px;
    height: 92px;
    margin: 70px 0 11px 13px;
  }

  .header-container {
    width: 200px;
    align-self: center;
  }

  .Welcome {
    width: 75%;
    height: 32px;
    margin: 94px 0px 47px 0;
    font-family: Mulish;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #a7a7a7;
  }

  .Rectangle-5 {
    width: 330px;
    height: 15px;
    flex-grow: 0;
    margin: 11px 19px 5px 13px;
    padding: 17px 0px 17px 16.3px;
    border-radius: 16px;
    border: solid 0.5px #909090;
    background-color: #fff;
    font-family: Mulish;
  }

  .Rectangle-6 {
    width: 330px;
    height: 15px;
    flex-grow: 0;
    margin: 10px 19px 11px 13px;
    padding: 17px 0px 17px 16.3px;
    border-radius: 16px;
    border: solid 0.5px #909090;
    background-color: #fff;
    font-family: Mulish;
  }

  .mobile-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  label {
    align-self: left;
  }

  #id_username {
    width: 85% !important;
    height: 15px;
    flex-grow: 0;
    margin: 11px 19px 15px 17px;
    padding: 17px 0px 17px 16.3px;
    border-radius: 16px;
    border: solid 0.5px #909090;
    background-color: #fff;
    font-family: Mulish;
  }

  #id_password {
    width: 85%;
    height: 15px;
    flex-grow: 0;
    margin: 11px 19px 5px 13px;
    padding: 17px 0px 17px 16.3px;
    border-radius: 16px;
    border: solid 0.5px #909090;
    background-color: #fff;
    font-family: Mulish;
    font-size: 16px;
  }

  #id_password1 {
    width: 315px;
    height: 15px;
    flex-grow: 0;
    margin: 5px 5px 5px 13px;
    padding: 17px 0px 17px 16.3px;
    border-radius: 16px;
    border: solid 0.5px #909090;
    background-color: #fff;
    font-family: Mulish;
    font-size: 16px;
  }

  #id_password2 {
    width: 315px;
    height: 15px;
    flex-grow: 0;
    margin: 11px 19px 15px 13px;
    padding: 17px 0px 17px 16.3px;
    border-radius: 16px;
    border: solid 0.5px #909090;
    background-color: #fff;
    font-family: Mulish;
    font-size: 16px;
  }

  .Forgot-Password {
    float: right;
    width: 121px;
    height: 14px;
    margin: 11px 21px 0px 5px;
    font-family: Mulish;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: normal;
    color: #a7a7a7;
    text-decoration: underline;
  }

  .Rectangle-4 {
    width: 350px;
    height: 5px;
    margin: 54px 12px 100px 13px;
    border-radius: 10px;
    background-color: #d9d9d9;
  }

  .login-btn {
    width: 344px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 65px 15px 0 16px;
    padding: 17px 120px;
    border-radius: 16px;
    color: white;
    background-color: #4e4235;
    font-family: Mulish;
  }

  .join-us-btn {
    margin: 15px 15px 0 16px;
  }

  .signup-btn {
    margin: 0px 15px 0 0px;
  }

  .search-logo {
    width: 50px;
    height: 60px;
    align-self: center;
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .search-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  .Rectangle-18 {
    width: 350px;
    height: 627px;
    flex-grow: 0;
    margin: 0 4px 0 0;
    padding: 21px 0 23px;
    border-radius: 15px;
    background-color: #f4f4f4;
  }

  .Rectangle-16 {
    width: 125px;
    height: 36px;
    flex-grow: 0;
    margin: 5px 5px 12px 0;
    padding: 9px 34px 5px 36px;
    border-radius: 15px;
    background-color: #d9d9d9;
  }

  .search-input {
    width: 75px;
    height: 20px;
    flex-grow: 0;
    border-radius: 16px;
    border: solid 0.5px #909090;
    background-color: #fff;
    font-family: Mulish;
  }

  .go-btn {
    height: 35px;
    width: 40px;
    background-color: #a4978a;
    margin: 5px 0px 0px 5px;
    border-radius: 10px;
    font-size: 14px;
    font-family: Mulish;
    color: white;
    cursor: pointer;
  }

  .logout-btn {
    height: 35px;
    width: 70px;
    background-color: #4e4235;
    align-self: center;
    margin: 10px 0px 0px 5px;
    border-radius: 10px;
    font-size: 14px;
    font-family: Mulish;
  }

  .card-container {
    display: flex;
    flex-direction: row;
    margin: 10px;
    border: solid 0.3px #909090;
    border-radius: 16px;
    padding: 10px;
    width: 90%;
  }

  .card-container1 {
    display: flex;
    flex-direction: row;
    margin: 10px;
    border: solid 0.3px #909090;
    border-radius: 16px;
    padding: 10px;
    width: 90%;
  }

  .index-img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
  }

  .index-img {
    width: 100%;
    border-radius: 10px;
    margin-left: 5px;
  }

  .index-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
    font-family: Mulish;
    margin: 20px;
    color: #909090;
  }

  .index-info > img {
    width: 50%;
    margin: 5px 0px;
  }

  .index-title {
    font-size: 18px;
    color: #787878;
  }

  .yelp-logo {
    width: 50px;
  }

  .username-title {
    font-family: Mulish;
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #a7a7a7;
  }

  .recent-title {
    height: 32px;
    margin: 10px 230px 0px 15px;
    font-family: Mulish;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #a7a7a7;
  }

  .divider {
    width: 350px;
    height: 3px;
    margin: 0px 12px 5px 13px;
    border-radius: 10px;
    background-color: #d9d9d9;
  }

  .favourites-title {
    margin-top: 15px;
  }

  .data-container {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 90%;
  }

  .detail-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-family: Mulish;
    color: #787878;
  }

  .detail-img-container {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    width: 100%;
    margin: 0px;
  }

  .detail-imgs {
    width: 125px;
    height: 175px;
    margin: 1px;
    border-radius: 16px;
  }

  .detail-title {
    font-size: 20px;
    color: #787878;
    margin-bottom: 2px;
  }

  .favourite-btn {
    width: 130px;
    height: 40px;
    border-radius: 16px;
    background-color: #d9d9d9;
    font-family: Mulish;
    font-size: 14px;
    border: none;
    cursor: pointer;
    margin-bottom: 5px;
    margin-left: 15px;
  }

  .rating-container > img {
    width: 25%;
    margin: 5px 0px;
  }

  .rating-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .reviews-num {
    margin-left: 10px;
  }

  .hours-container > h4 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
  }

  .hours-container > p {
    margin: 0px;
    font-size: 14px;
  }

  .review-container {
    font-family: Mulish;
    margin: 0px 10px;
    width: 100%;
  }

  .review-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px;
    color: #787878;
    font-family: Mulish;
  }

  .review-body > h4 {
    margin-left: 5px;
  }

  .review-body-header {
    margin-top: 5px;
  }

  .review-btn {
    width: 124px;
    height: 40px;
    border-radius: 16px;
    background-color: #d9d9d9;
    font-family: Mulish;
    font-size: 16px;
  }

  .username-delete {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .delete-btn {
    text-decoration: none;
    font-size: 25px;
    color: #787878;
    cursor: pointer;
  }

  .detail-review-form {
    margin: 0px 5px;
    color: #787878;
  }

  .username-lbl {
    font-size: 18px;
    margin-top: 10px;
  }

  .review-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 0;
  }

  .inner-review-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .inner-review-body > p {
    margin: 5px;
  }

  .comments-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .delete-page {
    margin-top: 50%;
  }

  .delete-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    border: solid 0.3px #909090;
    border-radius: 16px;
    padding: 10px;
    margin-left: 5px;
    width: 90%;
    font-family: Mulish;
    color: #909090;
  }

  .delete-container > h1 {
    margin-bottom: 0px;
  }

  .delete-form-btn {
    width: 124px;
    height: 40px;
    border-radius: 16px;
    background-color: #d9d9d9;
    color: #4e4235;
    font-family: Mulish;
    font-size: 16px;
    border: 0;
    cursor: pointer;
  }

  .cancel {
    margin: 10px;
    align-self: center;
    font-family: Mulish;
    color: #909090;
  }
}
