@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap");

@media only screen and (max-width: 450px) {
  .iPhone-13-13-Pro---29 {
    width: 390px;
    height: 844px;
    flex-grow: 0;
    padding: 0 7px 163px 8px;
    background-color: #fff;
  }

  .Welcome {
    width: 149px;
    height: 32px;
    margin: 94px 126px 47px 0;
    font-family: Mulish;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #a7a7a7;
  }

  .Rectangle-5 {
    width: 50px;
    height: 15px;
    flex-grow: 0;
    margin: 11px 19px 16px 13px;
    padding: 17px 290.8px 17px 16.3px;
    border-radius: 16px;
    border: solid 0.5px #909090;
    background-color: #fff;
    font-family: Mulish;
  }

  .Rectangle-6 {
    width: 50px;
    height: 15px;
    flex-grow: 0;
    margin: 16px 19px 11px 13px;
    padding: 17px 261.8px 17px 16.3px;
    border-radius: 16px;
    border: solid 0.5px #909090;
    background-color: #fff;
    font-family: Mulish;
  }

  .Forgot-Password {
    width: 121px;
    height: 14px;
    margin: 11px 21px 41px 133px;
    font-family: Mulish;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #a7a7a7;
  }

  .Rectangle-4 {
    width: 350px;
    height: 5px;
    margin: 54px 12px 128px 13px;
    border-radius: 10px;
    background-color: #d9d9d9;
  }

  button {
    width: 344px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 128px 15px 0 16px;
    padding: 17px 120px;
    border-radius: 16px;
    color: white;
    background-color: #4e4235;
    font-family: Mulish;
  }
}
