{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
    <title>Bean There</title>
    <script src="{% static 'js/script.js' %}"></script>
  </head>  
  <body>
    <div class="search-header-container">
      <img src="/static/css/images/logo.png" class="search-logo" />
      <div class="search-bar">
        <form name="myform" method="GET" action="{% url 'search' %}">
          <input
            class="search-input"
            type="text"
            name="search"
            placeholder="Search"
          />
        </form>
        <!-- <p class="location"></p> need to add in location that is searched here -->
      </div>
      <button class="logout-btn">
        <a href="{% url 'logout' %}" class="anchor-btn">Log Out</a>
      </button>
    </div>
    {% block content %} {% endblock %}
  </body>
</html>
