{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
    <title>Bean There</title>
  </head>
  <body class="landing-container">
    <div class="iPhone-13-13-Pro---29 Desktop---17">
      <div class="landing-header">
        <img src="/static/css/images/logo.png" class="mobile-logo" />
        <div class="header-container">
          <span class="landing-title"> Bean There</span>
        </div>
      </div>
    </div>
    <div>
      <button class="login-btn landing-btn">
        <a href="{% url 'login' %}" class="anchor-btn">Login</a>
      </button>
      <button class="login-btn join-us-btn">
        <a href="{% url 'signup' %}" class="anchor-btn">Join Us</a>
      </button>
    </div>
  </body>
</html>
