{% extends 'base.html' %} {% block content %}

<div class="iPhone-13-13-Pro---29">
  <div class="header-logo">
    <img src="static/css/images/logo.png" class="logo" />
    <span class="Welcome"> Welcome </span>
  </div>
  <div>
    <input class="Rectangle-5" placeholder="Email" />
    <input class="Rectangle-6" placeholder="Password" />
  </div>
  <span class="Forgot-Password"> Forgot Password? </span>
  <button>Login</button>
  <div class="Rectangle-4"></div>

  <button>Join Us</button>
</div>

{% endblock %}
