{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
    <title>Bean There</title>
  </head>
  <body>
    <div class="iPhone-13-13-Pro---29 Desktop---17">
      <div class="header-logo">
        <img src="/static/css/images/logo.png" class="logo" />
        <span class="Welcome"> Welcome </span>
      </div>
      <div class="desktop-inputs mobile-inputs">
        <form method="post" action="{% url 'login' %}">
          {% csrf_token %} {{ form.as_div }}

          <input class="login-btn login" type="submit" value="Login" />
          <input type="hidden" name="next" value="{{ next }}" />
        </form>
      </div>
      <div class="Rectangle-4"></div>
      <button class="login-btn join-us-btn">
        <a href="{% url 'signup' %}" class="anchor-btn">Join Us</a>
      </button>
    </div>
  </body>
</html>
