{% extends 'base.html' %} {% block content %} {% if display_overlay %}
<body onload="overlayOn()">
  {% endif %}
  <div id="overlay" onclick="overlayOff()">
    <h1 id="overlayMessage">Thank you!</h1>
  </div>

  <div class="detail-container">
    <div class="detail-img-container">
      {% for photo in data.photos %}
      <img src="{{ photo }}" class="detail-imgs" />
      {% endfor %}
    </div>
    <div class="data-container">
      <div class="cafe-title-favourite-btn">
        <h1 class="detail-title">{{ data.name }}</h1>
        {% if fave %}
        <form action="{% url 'remove_favourite' data.id %}" method="POST">
          {% csrf_token %}
          <button class="bigger-favourite-btn">
            <input type="submit" value="" class="favourite-btn" />
            <img
              src="/static/css/images/solid-fave-bean.png"
              class="favourite-bean"
            />
          </button>
        </form>
        {% else %}
        <form action="{% url 'add_favourite' data.id %}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="name" value="{{ data.name }}" />
          <input type="hidden" name="rating" value="{{ data.rating }}" />
          <input type="hidden" name="price" value="{{ data.price }}" />
          <input type="hidden" name="image_url" value="{{ data.photos }}" />
          <button class="bigger-favourite-btn">
            <input type="submit" value="" class="favourite-btn" /><img
              src="/static/css/images/fave-bean-stencil.png"
              class="favourite-bean"
            />
          </button>
        </form>
        {% endif %}
      </div>

      <div>
        {{ data.location.address1 }}, {{ data.location.city }}
        {{data.location.state}}
      </div>
      <div class="rating-container">
        {% if data.rating == 5.0 %}
        <img
          src="/static/css/images/yelp_stars/web_and_ios/small/small_5@2x.png"
        />
        {% elif data.rating == 4.5 %}
        <img
          src="/static/css/images/yelp_stars/web_and_ios/small/small_4_half@2x.png"
        />
        {% elif data.rating == 4.0 %}
        <img
          src="/static/css/images/yelp_stars/web_and_ios/small/small_4@2x.png"
        />
        {% elif data.rating == 3.5 %}
        <img
          src="/static/css/images/yelp_stars/web_and_ios/small/small_3_half@2x.png"
        />
        {% elif data.rating == 3.0 %}
        <img
          src="/static/css/images/yelp_stars/web_and_ios/small/small_3@2x.png"
        />
        {% elif data.rating == 2.5 %}
        <img
          src="/static/css/images/yelp_stars/web_and_ios/small/small_2_half@2x.png"
        />
        {% elif data.rating == 2.0 %}
        <img
          src="/static/css/images/yelp_stars/web_and_ios/small/small_2@2x.png"
        />
        {% elif data.rating == 1.5 %}
        <img
          src="/static/css/images/yelp_stars/web_and_ios/small/small_1_half@2x.png"
        />
        {% elif data.rating == 1.0 %}
        <img
          src="/static/css/images/yelp_stars/web_and_ios/small/small_1@2x.png"
        />
        {% elif data.rating == 0.5 %}
        <img
          src="/static/css/images/yelp_stars/web_and_ios/small/small_0_half@2x.png"
        />
        {% else %}
        <img
          src="/static/css/images/yelp_stars/web_and_ios/small/small_0@2x.png"
        />
        {% endif %}

        <span class="reviews-num"
          >Based on {{ data.review_count }} Reviews</span
        >
      </div>
      <div>
        <a href="{{ data.url }}"
          ><img
            src="/static/css/images/yelp_stars/yelp_logo.png"
            class="yelp-logo"
        /></a>
      </div>
      <div>{{ data.price }}</div>
      <div class="hours-container">
        <h4>Hours</h4>
        {% for day in hours_data %}
        <p>{{day.day_name}}: {{day.start}} - {{day.end}}</p>
        {% endfor %}
      </div>
    </div>
    <div class="review-container">
      <div class="review-header">
        <h2>Reviews</h2>
        <form method="POST" action="{% url 'create_review' data.id %}">
          {% csrf_token %}
          <input type="hidden" name="name" value="{{ data.name }}" />
          <input type="hidden" name="rating" value="{{ data.rating }}" />
          <input type="hidden" name="price" value="{{ data.price }}" />
          <input type="hidden" name="image_url" value="{{ data.photos }}" />
          <button type="submit" class="review-btn">Add Review</button>
        </form>
      </div>
      <div class="divider"></div>
      {% for review in reviews %}
      <div>
        <div class="detail-review-form">
          <div class="username-delete">
            <p class="username-lbl">Review by: {{user.get_username}}</p>
            <div>
              <a
                href="{% url 'delete_review' data.id review.id %}"
                class="delete-btn"
                >X</a
              >
            </div>
          </div>

          <div class="review-body">
            <h4 class="review-body-first-header">Ambience</h4>
            <div class="inner-review-body">
              <p>Lighting: {{review.lighting}}/5</p>
              <p>Sound: {{review.sound}}/5</p>
              <p>Traffic: {{review.traffic}}/5</p>
            </div>
            <h4 class="review-body-header">Food & Drink</h4>
            <div class="inner-review-body">
              <p>Vegan: {{review.vegan}}</p>
              <p>Gluten-Free Options: {{review.gluten_free}}</p>
              <p>Lactose-Free Options: {{review.lactose_free}}</p>
            </div>
            <h4 class="review-body-header">Technology Essentials</h4>
            <div class="inner-review-body wifi">
              <p>Wifi: {{review.wifi}}</p>
              <p>Outlets: {{review.outlets}}</p>
            </div>
            <h4 class="review-body-header">The Important Stuff</h4>
            <div class="inner-review-body">
              <p>Patio: {{review.patio}}</p>
              <p>Pet Friendly: {{review.pet_friendly}}</p>
              <p>Service: {{review.service}}/5</p>
            </div>
            <div class="comments-div">
              <p>Comments: {{review.comments}}</p>
            </div>
          </div>
        </div>
        <div class="divider"></div>
      </div>
      {% endfor %}
    </div>
  </div>
</body>
<script>
  function overlayOn() {
    document.getElementById("overlay").style.display = "block";
  }

  function overlayOff() {
    document.getElementById("overlay").style.display = "none";
  }
</script>
<script
  src="https://kit.fontawesome.com/8e35e2679a.js"
  crossorigin="anonymous"
></script>
{% endblock %}
