{% extends 'base.html' %} {% block content %}

<h1>Hi, {{ user.username }} !</h1>

<div class="profile">
  <h2 class="recents">Recently Bean</h2>
  {% for recent in recents %}
  <div>
    <div>{{recent.timestamp}}</div>
    <div>{{recent.name}}</div>
    <div>{{recent.price}}</div>
    {% if recent.rating == 5.0 %}
    <img src="/static/css/images/yelp_stars/web_and_ios/small/small_5.png" />
    {% elif recent.rating == 4.5 %}
    <img
      src="/static/css/images/yelp_stars/web_and_ios/small/small_4_half.png"
    />
    {% elif recent.rating == 4.0 %}
    <img src="/static/css/images/yelp_stars/web_and_ios/small/small_4.png" />
    {% elif recent.rating == 3.5 %}
    <img
      src="/static/css/images/yelp_stars/web_and_ios/small/small_3_half.png"
    />
    {% elif recent.rating == 3.0 %}
    <img src="/static/css/images/yelp_stars/web_and_ios/small/small_3.png" />
    {% elif recent.rating == 2.5 %}
    <img
      src="/static/css/images/yelp_stars/web_and_ios/small/small_2_half.png"
    />
    {% elif recent.rating == 2.0 %}
    <img src="/static/css/images/yelp_stars/web_and_ios/small/small_2.png" />
    {% elif recent.rating == 1.5 %}
    <img
      src="/static/css/images/yelp_stars/web_and_ios/small/small_1_half.png"
    />
    {% elif recent.rating == 1.0 %}
    <img src="/static/css/images/yelp_stars/web_and_ios/small/small_1.png" />
    {% elif recent.rating == 0.5 %}
    <img
      src="/static/css/images/yelp_stars/web_and_ios/small/small_0_half.png"
    />
    {% else %}
    <img src="/static/css/images/yelp_stars/web_and_ios/small/small_0.png" />
    {% endif %}
    <img src="{{recent.image_url}}" width="200px" />
  </div>
  {% endfor %}
</div>

{% endblock %}
