{% extends 'base.html' %} {% block content %}

<h1 class="username-title">Welcome back, {{ user.username }} !</h1>

<h2 class="recent-title">Recently Bean</h2>
<div class="divider"></div>
  {% for recent in recents %}
  <div class="card-container card-container1">
    <div class="index-img-container">
      <img src="{{recent.image_url}}" class="index-img" />
    </div>
    <div class="index-info">
      <a href="{% url 'details' recent.cafe_id %}" class="index-title">
        {{recent.name}}
      </a>
      <div>{{recent.timestamp}}</div>
      {% if recent.rating == 5.0 %}
      <img src="/static/css/images/yelp_stars/web_and_ios/small/small_5.png" />
      {% elif recent.rating == 4.5 %}
      <img
        src="/static/css/images/yelp_stars/web_and_ios/small/small_4_half.png"
      />
      {% elif recent.rating == 4.0 %}
      <img src="/static/css/images/yelp_stars/web_and_ios/small/small_4.png" />
      {% elif recent.rating == 3.5 %}
      <img
        src="/static/css/images/yelp_stars/web_and_ios/small/small_3_half.png"
      />
      {% elif recent.rating == 3.0 %}
      <img src="/static/css/images/yelp_stars/web_and_ios/small/small_3.png" />
      {% elif recent.rating == 2.5 %}
      <img
        src="/static/css/images/yelp_stars/web_and_ios/small/small_2_half.png"
      />
      {% elif recent.rating == 2.0 %}
      <img src="/static/css/images/yelp_stars/web_and_ios/small/small_2.png" />
      {% elif recent.rating == 1.5 %}
      <img
        src="/static/css/images/yelp_stars/web_and_ios/small/small_1_half.png"
      />
      {% elif recent.rating == 1.0 %}
      <img src="/static/css/images/yelp_stars/web_and_ios/small/small_1.png" />
      {% elif recent.rating == 0.5 %}
      <img
        src="/static/css/images/yelp_stars/web_and_ios/small/small_0_half.png"
      />
      {% else %}
      <img src="/static/css/images/yelp_stars/web_and_ios/small/small_0.png" />
      {% endif %}
      <div>{{recent.price}}</div>
    </div>
  </div>
  {% endfor %}

</div>
<h2 class="recent-title favourites-title">My Favourites</h2>
<div class="divider"></div>



{% endblock %}
