{% extends 'base.html' %} {% block content %}
<h1>Reviews</h1>

<div class="Rectangle-17">
    <span class="Tell-us-what-you-think-about-this-place">
  Tell us what you think about this place!</span>
<form action="{% url 'details' %}" method="POST">
    <div class="close-1"></div>
    <span class="Food-Drinks">
    Food & Drinks
    </span>
        <div class="Rectangle-16">Food</div>
        <div class="Rectangle-16">drinks</div>
    <span class="Technical">
    Technical
    </span>
        <div class="Rectangle-16">Wifi</div>
        <div class="Rectangle-16">Outlets</div>
    <span class="Ambience">Ambience</span>
        <div class="Rectangle-16">Bright</div>
        <div class="Rectangle-16">Quiet</div>
        <div class="Rectangle-16">Busy</div>
        <div class="Rectangle-16">AC</div>
        <div class="Rectangle-16">Patio</div>
        <div class="Rectangle-16">Pet Friendly</div>
    <span class="Additional-Comments">
    Additional Comments
    </span>
    <div class="Rectangle-21"><textarea rows="5" cols="30" name="comment-box"></textarea></div>
    <div class="Rectangle-20"><button class="Submit">
    Submit
    </button></div>
</form>

</div>
{% endblock %}

