{% extends 'base.html' %} {% block content %}

<div class="iPhone-13-13-Pro---29 Desktop---17">
  <div class="header-logo">
    <img src="/static/css/images/logo.png" class="logo" />
    <span class="Welcome">Join Us</span>
  </div>
  <div class="desktop-inputs">
    <form method="post" action="{% url 'signup' %}">
      {% csrf_token %} {{ form.as_p }}
      <input class="Rectangle-5" placeholder="Full Name" />
      <input class="Rectangle-6" placeholder="Email" />
      <input class="Rectangle-6" placeholder="Password" />
      <input class="Rectangle-6" placeholder="Re-type Password" />
      <input type="submit" class="signup-btn login-btn" value="Sign Up" />
      <!-- <input type="hidden" name="next" value="{{ next }}" /> -->
    </form>
  </div>
</div>

{% endblock %}
